In [1]:
import googlemaps
import dotenv
import os
import logging
import sys
sys.path.append("/workspace")
from src.utils import db_connections as db_con
from src.utils.geo_encode_data import encode_and_upload_missing_addresses


# Load the environment variables
dotenv.load_dotenv()

GOOGLE_MAPS_KEY = os.getenv("GOOGLE_MAPS_KEY")
gmaps = googlemaps.Client(key=GOOGLE_MAPS_KEY)

POSTGRES_DSN = os.getenv("POSTGRES_DSN")
db_connection = db_con.create_postgres_sql_connection(POSTGRES_DSN)


logging.basicConfig(level=logging.INFO)

encode_and_upload_missing_addresses(db_connection, gmaps, batch_size=100)

/workspace/src/utils/geo_encode_data.py:115: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)
INFO:root:generating upsert query
INFO:root:uploading 100 rows to propeiredb.geo_encoding_lookup

set()

INFO:root:Uploaded 100 addresses to the database

In [3]:
import pandas as pd

pd.DataFrame(encoded_addresses)

,input_address,output_address,lat,lon,address_hash,region
0,"55 bellingham green, castlebellingham, louth","55 Bellingham Green, Main St, Castlebellingham...",53.897151,-6.392277,00004d6d56132e1a3913623879e4e84b,None
1,"58 st brendans estate, rosslare harbour, co. w...","58 St Brendan's Estate, Ballyknockan, Rosslare...",52.245780,-6.334132,0000525f4e16b2b763c7e5cbff7b031f,None
2,"10 st luas villas, killaloe, clare","10 St Lua's Villas, Knockyclovaun, Killaloe, C...",52.807021,-8.448154,0000ab2cc28a6d89c6263cdbc8be572c,None
3,"651 collins ave, whitehall, dublin 9","651 Collins Ave, Whitehall, Dublin, Ireland",53.386984,-6.256200,0000cac199385eba6581024fdc9c05a6,D9
4,"14 ascal emer, the ferns blackrock, dundalk","14 Ascal Emer, The Ferns, Haggardstown, Blackr...",53.961245,-6.370262,0000d85e7a6e2542c26afb4c6241eb1b,None
...,...,...,...,...,...,...
95,"221 charlesland court the glen, greystones, wi...","221 Charlesland Ct, Charlesland, Greystones, C...",53.128283,-6.071159,000c45432b45ed450ca3f39d09d2d9a0,None
96,"23 rathborne drive, ashtown, dublin 15","23 Rathborne Dr, Rathborne Ave, Castleknock (p...",53.377977,-6.325374,000c5fc5c90f2cb07c6538eda5ab63f2,D11
97,"hazelwood, tay rd, cobh","Hazelwood, Tay Rd, Ballyvoloon, Cobh, Co. Cork...",51.864877,-8.297875,000c887e01f2caa12a2c20619946ad2b,None
98,"28 morrow house, longfield rd, the coast dubli...","31, Morrow House, 36 Longfield Rd, The Coast, ...",53.399580,-6.147303,000cda6d6eb68adc740be3ebb2e38dce,D13
99,"12 seaview square, cnoc na mara, blackrock","12 Seaview Square, Haggardstown, Dundalk, Co. ...",53.971782,-6.371804,000cf87dbc90f956110260083f746d2c,None